/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
    :root {
        /* MODO CLARO */
        --bg-main: #f3f4f6;       /* Antes bg-gray-100 */
        --bg-card: #ffffff;       /* Antes bg-white (Navbar/Cards) */
        --text-main: #1f2937;     /* Antes text-gray-800 */
        --primary: #cd0055;       /* Rosa comic */
        --accent: #fbbf24;        /* Antes amber-400 */
        --border-color: #e5e7eb;  /* Antes border-gray-200 */
        --btn-bg: #e5e7eb;        /* Para el botón de theme (gray-200) */
        --btn-hover: #d1d5db;     /* Hover del botón theme (gray-300) */
    }

    .dark {
        /* MODO OSCURO */
        --bg-main: #111827;       /* Antes bg-gray-900 */
        --bg-card: #1f2937;       /* Antes bg-gray-800 */
        --text-main: #f3f4f6;     /* Antes text-gray-100 */
        --accent: #fbbf24;        /* El amarillo se mantiene igual */
        --primary: #cd0055;       /* El rosa se mantiene igual */
        --border-color: #4b5563;  /* Antes border-gray-600 */
        --btn-bg: #374151;        /* Botón theme dark (gray-700) */
        --btn-hover: #4b5563;     /* Hover theme dark (gray-600) */
    }
}


.hero-container {
    background-image: url('../assets/banner.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    inline-size: 100vw;
    block-size: 20rem;
}