/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
    :root {
        /* MODO CLARO */
        /* Antes bg-gray-100 */
        --bg-main: #f3f4f6;
        /* Antes bg-white (Navbar/Cards) */
        --bg-card: #ffffff;
        /* Antes text-gray-800 */
        --text-main: #1f2937;
        /* Rosa comic */
        --primary: #cd0055;
        /* Antes amber-400 */
        --accent: #fbbf24;
        /* Antes border-gray-200 */
        --border-color: #e5e7eb;
        /* Para el botón de theme (gray-200) */
        --btn-bg: #e5e7eb;
        /* Hover del botón theme (gray-300) */
        --btn-hover: #d1d5db;
    }

    /* MODO OSCURO */
    .dark {
        /* Antes bg-gray-900 */
        --bg-main: #111827;
        /* Antes bg-gray-800 */
        --bg-card: #1f2937;
        /* Antes text-gray-100 */
        --text-main: #f3f4f6;
        /* El amarillo se mantiene igual */
        --accent: #fbbf24;
        /* El rosa se mantiene igual */
        --primary: #cd0055;
        /* Antes border-gray-600 */
        --border-color: #4b5563;
        /* Botón theme dark (gray-700) */
        --btn-bg: #374151;
        /* Hover theme dark (gray-600) */
        --btn-hover: #4b5563;
    }
}

/*BACKGROUND*/
.bg-comic-fixed {
    position: relative;
    background-image: url('../assets/banner.png');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    inline-size: 100vw;
}

/* HERO: Muestra la parte de arriba de la imagen */
.hero-container {
    min-block-size: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-pink {
    background-color: var(--primary);
    opacity: 0.4;
    position: absolute;
    inset: 0;
    z-index: 1;
}

/* Formulario */
.hero-content {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 40rem;
}

/* FOOTER: Muestra la parte de abajo de la imagen */
.footer-container {
    background-position: bottom center;
    block-size: 50vh;
}